header .navbar {
    background-color: #14213D;
}

header .navbar .main-logo {
    width: 3rem;
}

/* home */
.home .section-1 {
    background: url("../Images/background.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .section-1 .h1 {
    color: #FCA311;
}
 

.home .section-1 .search-bar {
    width: 50%
}

.home .section-1 .search-bar .btn {
    color: white;
    background-color: #FCA311;
    margin-left: auto;
}

/*add css animtion on section 2*/
.home .section-2 .row div :hover {
    animation: pulse; 
    animation-duration: 1s;
}

/* portfolio */

/* add css animtion on portfolio page */
.portfolio .section-1 .portfolio-img :hover {
    animation: pulse; 
    animation-duration: 1s;
}

.portfolio .section-1 .cards :hover {
    animation: pulse; 
    animation-duration: 1s;

}
.portfolio .container .row .article {
    background-color: #FCA311;
}

.portfolio .container .row .card .btn {
    background-color: #FCA311;
    color: white;
}




/* contact */
.contact .contact-form {
    background-color: #14213D;
}

.contact form .btn {
    color: white;
    background-color: #FCA311;
}

/* footer */
body .footer {
    background-color: #14213D;
}

.footer .footer-button {
    color: white;
    background-color: #FCA311;
}

.footer .footer-icon {
    width: 12rem;
}
