header .navbar {
    background-color: #14213D;
}

.home .container-fluid .row img {
	position: relative;
}

.home .container-fluid .row h1 {
    color: #FCA311;
    position: absolute;
    top: 14rem;
    bottom: 5rem;
}
.home .container-fluid .row .form-inline{
	position: absolute;
	top: 18rem;
}

.home .container-fluid .row .form-inline .btn {
    color: white;
    background-color: #FCA311;
}

.protfolio .container .row .article {
    background-color: #FCA311;
}
.protfolio .container .row .card .btn {
    background-color: #FCA311;
    color: white;
}

.contact form .btn {
    color: white;
    background-color: #FCA311;
}

.contact .contact-form {
    background-color: #14213D;
}

body .footer {
    background-color:  #14213D;
}